In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv("./datas/Immoweb_data_ok_maite.csv")
zip_code_data = pd.read_csv("./datas/code-postaux-belge.csv", sep=";")

zip_code_data['Localite'] = zip_code_data['Localite'].apply(str.lower)
zip_code_data.head(50)

,Code,Localite,Longitude,Latitude,Coordonnees
0,1030,schaerbeek,4.373712,50.867604,"50.8676041, 4.3737121"
1,1150,woluwe-saint-pierre,4.443297,50.829243,"50.8292429, 4.4432967"
2,1210,saint-josse-ten-noode,4.372336,50.853074,"50.8530739, 4.3723364"
3,1300,limal,4.573890,50.693013,"50.6930127, 4.5738899"
4,1315,incourt,4.798944,50.691800,"50.6918004, 4.798944"
5,1315,piètrebais,4.743368,50.731111,"50.7311108, 4.7433685"
6,1315,roux-miroir,4.784825,50.708512,"50.7085122, 4.7848246"
7,1325,bonlez,4.689615,50.702137,"50.7021372, 4.6896145"
8,1325,corroy-le-grand,4.674721,50.661711,"50.6617107, 4.6747213"
9,1340,ottignies-louvain-la-neuve,4.580494,50.672672,"50.6726725, 4.5804937701303"
10,1350,folx-les-caves,4.937098,50.661072,"50.6610719, 4.9370984"
11,1357,neerheylissem,4.989015,50.756768,"50.7567681, 4.9890154"
12,1360,perwez,4.813472,50.623447,"50.6234469, 4.8134719"
13,1370,jodoigne,4.870962,50.721821,"50.7218206, 4.8709616"
14,1390,biez,4.703397,50.726708,"50.7267076, 4.7033973"
15,1401,baulers,4.358648,50.617247,"50.6172472, 4.3586482570372"
16,1421,ophain-bois-seigneur-isaac,4.350790,50.656302,"50.65630215, 4.3507902353934"
17,1430,bierghes,4.122726,50.696578,"50.69657845, 4.1227257983451"
18,1450,chastre,4.636678,50.608083,"50.6080835, 4.636678"
19,1450,chastre-villeroux-blanmont,4.637794,50.610630,"50.6106296, 4.6377941108725"
20,1450,saint-géry,4.620285,50.576605,"50.57660545, 4.6202848419069"
21,1457,nil-saint-vincent-saint-martin,4.674328,50.640715,"50.6407147, 4.6743285"
22,1457,tourinnes-saint-lambert,4.722018,50.639548,"50.6395479, 4.7220185"
23,1461,haut-ittre,4.296472,50.648804,"50.6488039, 4.2964719513591"
24,1470,baisy-thy,4.488078,50.604022,"50.6040225, 4.4880778189719"
25,1474,ways,4.472943,50.626986,"50.6269861, 4.4729429472611"
26,1501,buizingen,4.260508,50.737934,"50.73793415, 4.2605080818496"
27,1547,biévène,3.943147,50.716448,"50.7164481, 3.943147"
28,1630,linkebeek,4.334564,50.771609,"50.7716092, 4.3345641"
29,1640,rhode-saint-genèse,4.346369,50.745030,"50.74503, 4.3463687"
30,1700,sint-ulriks-kapelle,4.220653,50.880034,"50.8800337, 4.2206526"
31,1702,groot-bijgaarden,4.263567,50.871436,"50.8714357, 4.2635668372339"
32,1731,relegem,4.279027,50.901981,"50.9019808, 4.2790265927797"
33,1731,zellik,4.274419,50.884248,"50.8842475, 4.2744185"
34,1740,ternat,4.183417,50.871558,"50.87155835, 4.1834171401216"
35,1750,gaasbeek,4.188803,50.799892,"50.7998923, 4.1888025"
36,1750,lennik,4.164863,50.808563,"50.8085632, 4.1648626"
37,1780,wemmel,4.310872,50.914595,"50.9145955, 4.3108723"
38,1785,hamme,4.120281,51.088162,"51.0881618, 4.1202807810427"
39,1790,affligem,4.117468,50.903506,"50.9035063, 4.1174675"
40,1790,essene,4.139042,50.897385,"50.8973851, 4.1390421"
41,1790,teralfene,4.098340,50.892142,"50.8921419, 4.09834"
42,1820,perk,4.496070,50.933162,"50.9331623, 4.4960702"
43,1860,meise,4.328732,50.934162,"50.9341625, 4.3287322"
44,1910,berg,5.152117,51.169566,"51.1695659, 5.1521172"
45,1910,buken,4.617418,50.937546,"50.937546, 4.617418"
46,1910,nederokkerzeel,4.564510,50.919013,"50.9190127, 4.5645096"
47,1930,zaventem,4.474551,50.880435,"50.8804355, 4.4745515"
48,1932,sint-stevens-woluwe,4.435994,50.866243,"50.8662434, 4.4359939711919"
49,2020,antwerpen,4.399708,51.221110,"51.2211097, 4.3997081"

In [3]:
zip_code_data.head()

   Code               Localite  Longitude   Latitude            Coordonnees
0  1030             schaerbeek   4.373712  50.867604  50.8676041, 4.3737121
1  1150    woluwe-saint-pierre   4.443297  50.829243  50.8292429, 4.4432967
2  1210  saint-josse-ten-noode   4.372336  50.853074  50.8530739, 4.3723364
3  1300                  limal   4.573890  50.693013  50.6930127, 4.5738899
4  1315                incourt   4.798944  50.691800   50.6918004, 4.798944

Create a dictionary with correstion names to reduce errors

In [4]:
replace_dict = {"brussels city":"bruxelles",
                "woluwé-saint-lambert":"woluwe-saint-lambert",
                "sint-gillis":"saint-gilles",
                "sint-agatha-berchem":"berchem-sainte-agathe",
                "schaarbeek":"schaerbeek",
                "sint-jans-molenbeek":"molenbeek-saint-jean",
                "anderlecht":"anderlecht",
                "woluwe-st-lambert":"woluwe-saint-lambert" }

Create a dictionary containing zip code as value, and locality as keys

In [13]:
zip_code_dict = zip_code_data.set_index('Localite')['Code'].to_dict()
# print(zip_code_dict)
data['Locality'] = data['Locality'].apply(str.lower)
data = data.replace({'Locality':replace_dict})

data['zip_code'] = (data['Locality'].map(zip_code_dict))

# Remove rows where zipcode is missing
data = data.drop(data[data['zip_code'].isna()].index)
data['zip_code'].dtype
# print(zip_code_dict['Uccle'])
# data.head(50)
# data[data['zip_code'].isnull().index]['Locality'].head()

# null_zip_rows = data.loc[data['zip_code'].isna()]
# null_zip_rows.info()

data.head()

,Id,Locality,House or appartment?,Subtype,Price,Type of sale,Number of rooms,Living area,Fully equipped kitchen,Furnished,Open fire,Terrace,Area of terrace,Garden,Area of garden,Land surface,Number of facades,Swimming pool,State of building,zip_code
0,10233388,uccle,HOUSE,HOUSE,1295000.0,BUY_REGULAR,4.0,290.0,1,None,0,1,15,None,None,230,2,0,GOOD,1180
1,10311296,woluwe-saint-pierre,APARTMENT,APARTMENT,150000.0,PUBLIC_SALE,2.0,65.0,0,None,0,1,None,None,None,None,None,None,None,1150
2,10310451,anderlecht,APARTMENT,APARTMENT,357500.0,BUY_REGULAR,3.0,119.0,0,None,0,1,16,None,None,None,4,None,NaN,1070
3,10309870,uccle,APARTMENT,APARTMENT,295000.0,BUY_REGULAR,2.0,140.0,0,None,0,None,None,None,None,None,2,None,TO_BE_DONE_UP,1180
4,10309546,uccle,APARTMENT,APARTMENT,199000.0,BUY_REGULAR,1.0,61.0,0,None,0,1,2,None,None,None,2,None,NaN,1180

#### Build a csv file with mean price per zipcode

In [38]:
price_sqm_zipcode = data.groupby(by='zip_code').mean()
price_sqm_zipcode['price-sqm'] = price_sqm_zipcode['Price'] / price_sqm_zipcode['Living area']
filepath = '.datas/price_sqm_zipcode'
# price_sqm_zipcode.drop(column=['Number of rooms', 'Open fire'])
del price_sqm_zipcode['Number of rooms']
del price_sqm_zipcode['Open fire']
price_sqm_zipcode = price_sqm_zipcode.reset_index()
price_sqm_zipcode.head()
price_sqm_zipcode.to_csv('price_sqm_meters.csv',index=False)

C:\Users\meule\AppData\Local\Temp\ipykernel_4692\3955741215.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  price_sqm_zipcode = data.groupby(by='zip_code').mean()