### Create a csv file: mean price per square meter for each zip code

In [6]:
import pandas as pd
import numpy as np

data = pd.read_csv("../datas/Immoweb_data_ok_maite.csv")
# zip_code_data = pd.read_csv("./datas/code-postaux-belge.csv", sep=";")
zip_code_data = pd.read_csv("../datas/Postal_codes.csv", sep=";")

zip_code_data['Localite'] = zip_code_data['Localite'].apply(str.lower)
zip_code_data.head(5)

   Code             Localite
0  1030           schaerbeek
1  1030           schaarbeek
2  1150  woluwe-saint-pierre
3  1150  woluwé-saint-pierre
4  1150  sint-pieters-woluwe

In [7]:
zip_code_data.head()

   Code             Localite
0  1030           schaerbeek
1  1030           schaarbeek
2  1150  woluwe-saint-pierre
3  1150  woluwé-saint-pierre
4  1150  sint-pieters-woluwe

Create a dictionary containing zip code as value, and locality as keys

In [8]:
zip_code_dict = zip_code_data.set_index('Localite')['Code'].to_dict()
# print(zip_code_dict)
data['Locality'] = data['Locality'].apply(str.lower)
data['zip_code'] = (data['Locality'].map(zip_code_dict))

# Remove rows where zipcode is missing
data = data.drop(data[data['zip_code'].isna()].index)
data['zip_code'].dtype

data.head()

,Id,Locality,House or appartment?,Subtype,Price,Type of sale,Number of rooms,Living area,Fully equipped kitchen,Furnished,Open fire,Terrace,Area of terrace,Garden,Area of garden,Land surface,Number of facades,Swimming pool,State of building,zip_code
0,10233388,uccle,HOUSE,HOUSE,1295000.0,BUY_REGULAR,4.0,290.0,1,None,0,1,15,None,None,230,2,0,GOOD,1180.0
1,10311296,woluwe-saint-pierre,APARTMENT,APARTMENT,150000.0,PUBLIC_SALE,2.0,65.0,0,None,0,1,None,None,None,None,None,None,None,1150.0
2,10310451,anderlecht,APARTMENT,APARTMENT,357500.0,BUY_REGULAR,3.0,119.0,0,None,0,1,16,None,None,None,4,None,NaN,1070.0
3,10309870,uccle,APARTMENT,APARTMENT,295000.0,BUY_REGULAR,2.0,140.0,0,None,0,None,None,None,None,None,2,None,TO_BE_DONE_UP,1180.0
4,10309546,uccle,APARTMENT,APARTMENT,199000.0,BUY_REGULAR,1.0,61.0,0,None,0,1,2,None,None,None,2,None,NaN,1180.0

#### Build a csv file

In [10]:
# Group dataframe by zip code, and add column with mean price per zip code
price_sqm_zipcode = data.groupby(by='zip_code').mean()
price_sqm_zipcode['price-sqm'] = price_sqm_zipcode['Price'] / price_sqm_zipcode['Living area']
filepath = '.datas/price_sqm_zipcode'
# price_sqm_zipcode.drop(column=['Number of rooms', 'Open fire'])
del price_sqm_zipcode['Number of rooms']
del price_sqm_zipcode['Open fire']
price_sqm_zipcode = price_sqm_zipcode.reset_index()
price_sqm_zipcode.head()
price_sqm_zipcode.to_csv('zip_price_sqm.csv',index=False)

C:\Users\test\AppData\Local\Temp\ipykernel_25548\1893050984.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  price_sqm_zipcode = data.groupby(by='zip_code').mean()